*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width: 1903px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.page{
    max-width: 936px;
    margin-top: 43px;
}
.profile img{
    border-radius: 100%;
}

header{
    display: flex;
    max-height: 424px;
    height: 100%;
}
.description{
    margin-left: 99px;
    width: 40%;
}
#name{
    margin-bottom: 76px;
}
h2{
    font-weight: 400;
}
nav{
    position: absolute;
    display: flex;
    max-width: 936px;
    width: 100%;
    justify-content: space-around;
    top: 31%;
}
button{
    cursor: pointer;
    border: none;
    margin-top: 19px;
    font-size: 100%;
    color: #8e8e8e;
}
nav div{
    cursor: pointer;
}
nav{
    border-top: solid 1px #dbdbdb;
}
.active{
    border-top: solid #262626ff 2px;
}
.projet{
    display: flex;
    position: absolute;
    max-width: 936px;
    width: 100%;
    justify-content: space-between;
    top: 43%;
}
.projet img{
    max-width: 294px;
    max-height: 293px;
    cursor: pointer;
}
.portFolio{
    max-width: 1334px;
    max-height: 887px;
    z-index: 1;
    border: solid red;
    position: absolute;
}
.projet img:hover{
    filter: brightness(50%);
    border: none;
    transition: 0.1s;
}