*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1903px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.page{
    max-width: 936px;
    margin-top: 43px;
}
.profile img{
    border-radius: 100%;
}

header{
    display: flex;
    max-height: 424px;
    height: 100%;
}
.description{
    margin-left: 99px;
    width: 40%;
}
#name{
    margin-bottom: 76px;
}
nav{
    position: absolute;
    display: flex;
    max-width: 936px;
    width: 100%;
    justify-content: space-around;
    top: 211px;
}
button{
    cursor: pointer;
    border: none;
    margin-top: 19px;
    font-size: 100%;
    color: #8e8e8e;
}
nav div{
    border-top: solid #262626ff 2px;
    
}